*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# Appraisals lockfiles
gemfiles/*.lock

# Exclude ide files and rvm files
.idea/
.rvmrc
.ruby-version
.ruby-gemset
